.tc-chat-window {
  background-color: #fff;
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.1),0 1px 8px -3px rgba(0,0,0,.02),0 2px 16px 0 rgba(0,0,0,.04);
  position: relative;
  width: 30rem;
  height: 28.2rem;
  justify-content: center;
}

.tc-chat-title {
  position: absolute;
  top: 0;
}

.tc-title-header {
  background-color: #efeef1;
  box-shadow: inset 0 0 0 1px #dad8de, 0 2px 0 rgba(0,0,0,.05);
  cursor: pointer;
  position: relative;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.tc-title-text {
  flex-grow: 1;
}

.tc-title-btns {
  flex-shrink: 0;
}

.tc-chat-content {
  height: 20rem;
}

.tc-chat-content__conatiner {
  height: 100%;
}

.tc-chat-input {
  position: absolute;
  bottom: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}
