.tc-chat-window {
  background-color: #fff;
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.1),0 1px 8px -3px rgba(0,0,0,.02),0 2px 16px 0 rgba(0,0,0,.04);
  position: relative;
  width: 30rem;
  height: 28.2rem;
  justify-content: center;
  margin-left: 1rem;
}

.tc-chat-title {
  position: absolute;
  top: 0;
}

.tc-chat-messages {
  height: 20rem;
}

.tc-chat-input {
  position: absolute;
  bottom: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}
