.tc-dialogs-box__container {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #fff;
  border: 1px solid #d2d2d2;
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.1),0 1px 8px -3px rgba(0,0,0,.02),0 2px 16px 0 rgba(0,0,0,.04);
  border-bottom: 3px solid #2c9fd7;
}

.tc-dialogs-box__open-close {
  width: 4rem;
  height: 4rem;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.tc-dialogs-box__unreads {
  position: absolute;
  top: -.5rem;
  right: -.3rem;
  background-color: #2c9fd7;
  color: #fff;
  display: inline-block;
  padding: .24rem .4rem;
  border-radius: 5px;
  font-size: 75%;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
}
