.tc-msg-list__container {
  height: 100%;
}

.msg-list {
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  position: relative;
}

.msg-list::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
}

.msg-list::-webkit-scrollbar-track {
  width: 12px;
}

.msg-list::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #9bafb9;
}
