.tc-chatlist-item__container {
  padding: 1rem;
  cursor: pointer;
  border-bottom: 1px solid #d2d2d2;
}

.tc-chatlist-item__avatar {
  margin-right: .5rem;
}

.tc-avatar {
  overflow: hidden;
  width: 3rem;
  height: 3rem;
  position: relative;
  background-color: inherit;
}

.tc-image {
  width: 100%;
}
.tc-chatlist--title > span {
  font-weight: 600;
}
.tc-chatlist--title__time {
  float: right;
}
