html, body {
  font-size: 12px;
  height: 100%;
  width: 100%;
}

body, div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-family: sans-serif;
}

/* helpers */

.tc * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.tc-flex {
  display: flex;
}
.tc-align-center {
  align-items: center;
}
.tc-relative {
  position: relative;
}
.tc-full-width {
  width: 100%;
}

/* buttons */
.tc-btn-icon {
  border: 1px solid transparent;
  background: transparent;
  color: #2c9fd7;
  cursor: pointer;
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  outline: none;
  padding: .6rem;
  line-height: 2rem;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
}
.tc-btn-icon:hover {
  border-color: transparent;
  background: rgba(100,65,164,.05);
  color: #253641;
}
.tc-btn-icon:active {
  border-color: rgba(65, 138, 164, 0.6);
  background: transparent;
  color: #2c2541;
}
.tc-btn-icon:focus {
  box-shadow: 0 0 6px 0 #5b9dbe;
}

.tc-input:focus {
  border-color: #2c9fd7;
  box-shadow: 0 0 6px -2px #2c9fd7;
}
