html, body {
  font-size: 12px;
  height: 100%;
  width: 100%;
}

body, div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-family: sans-serif;
}

/* helpers */

.tc * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.tc-flex {
  display: flex;
}
.tc-align-center {
  align-items: center;
}
.tc-relative {
  position: relative;
}
.tc-full-width {
  width: 100%;
}
